body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f4fbf6;
  color: #2c3e50;
  text-align: center;
}

header {
  background: linear-gradient(90deg, #27ae60, #2ecc71);
  color: white;
  padding: 40px 20px;
}

nav {
  background-color: #1e8449;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.card {
  width: 85%;
  margin: 40px auto;
  padding: 30px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

footer {
  background-color: #1e8449;
  color: white;
  padding: 25px;
  margin-top: 50px;
}
